<configuration>
    <property name="LOG_PATH" value="C:/!Education/GeekBrains/Java/Четверть 3/JavaSpringSecond/git/java-spring-second/src/main/resources/logs/" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file> ${LOG_PATH}app.log </file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-5level | traceId %X{traceId} | session %X{session} | user %X{user} | %logger{35} - %msg%n </pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.type" level="DEBUG" />
    <logger name="org.hibernate" level="DEBUG" />
    <logger name="org.springframework" level="DEBUG" />

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

</configuration>