<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-expand-lg navbar-light" th:fragment="navbar">
    <div class="container box_1620">
        <a class="navbar-brand logo_h" href="/app/products">MY E-SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                class="nav navbar-nav menu_nav justify-content-end"
                >
                <li th:if="${#httpServletRequest.requestURI} == '/app/orders'" sec:authorize="isAuthenticated()"
                    class="nav-item active">
                    <a class="nav-link" href="/app/orders">My orders</a>
                </li>
                <li th:unless="${#httpServletRequest.requestURI} == '/app/orders'" sec:authorize="isAuthenticated()"
                    class="nav-item">
                    <a class="nav-link" href="/app/orders">My orders</a>
                </li>
                <li th:if="${#httpServletRequest.requestURI} == '/app/cart'" class="nav-item active">
                    <a class="nav-link" href="/app/cart">Cart</a>
                </li>
                <li th:unless="${#httpServletRequest.requestURI} == '/app/cart'" class="nav-item">
                    <a class="nav-link" href="/app/cart">Cart</a>
                </li>
                <li style="text-align: right" th:if="${#httpServletRequest.requestURI} == '/app/users/current-user'"
                    sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link" href="/app/users/current-user">My profile</a>
                </li>
                <li style="text-align: right"
                    th:unless="${#httpServletRequest.requestURI} == '/app/users/current-user'"
                    sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/app/users/current-user">My profile</a>
                </li>

                <li style="padding-top: 30px" sec:authorize="isAnonymous()" class="nav-item">
                    <form th:action="@{/login}" th:method="get">
                        <button type="submit" class="very-small-button">Login</button>
                    </form>
                </li>

                <li style="padding-top: 30px" sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <button type="submit" class="very-small-button">Logout</button>
                    </form>
                </li>
            </ul>
            <ul th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                class="nav navbar-nav menu_nav justify-content-end"
                >
                <li th:if="${#httpServletRequest.requestURI} == '/app/admin/orders'"
                    class="nav-item active">
                    <a class="nav-link" href="/app/admin/orders">Orders</a>
                </li>
                <li th:unless="${#httpServletRequest.requestURI} == '/app/admin/orders'"
                    class="nav-item">
                    <a class="nav-link" href="/app/admin/orders">Orders</a>
                </li>
                <li style="padding-top: 30px" sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <button type="submit" class="very-small-button">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>